body {
    background-color: #cccccc;
    margin-bottom: 45px;
}

.my-style {
    background-color: #e9ecef;
    border-radius: .3rem;
}

.player-name {
    font-size: 20pt;
    font-style: italic;
    text-align: center;
}

.remote-info {
    height: 210px;
}

.button-container {
    text-align: center;
}

.rps-buttons {
    /* min-width: 100%; */
    text-align:center;
}

.footer {
    background-color: #e9ecef;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom:0;
}